body {
    background-color: #041e41;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    width: 450px;
    color: #e0004d; 
}

#portfolio {
    text-align: center;
    width: auto;

    

}

.italic, .bold, .links {
    color:#e0004d
} 

#menu {
    text-align: center;
}

#name {
    color: #fff;
    text-align: center;
}

#foto {
    width: 400px;
    position: absolute;
    margin-left: 10%;
    background-color: black;
    padding: 5px
}

#description {
    position: absolute;
    left: 50%; 
}
#text {
    text-align: justify;
}

#skills {
    position: absolute;
    top: 450px;
    left: 25%;
}

#like {
    position: absolute;
    top: 450px;
    left: 50%;
    margin-right: 10px;
}


.odd {
    text-decoration: underline;
    color: #e0004d;
}